.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 15px 20px;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.logout-btn {
  background: red;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

.logout-btn:hover {
  background: darkred;
}