.post-content-container {
  background: #f9f9f9; /* Light background color */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Spacing between sections */
}

.post-container {
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.post-container h2 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
}